body{
        margin: 0;
        background-color: whitesmoke;
        font-family: "Lucida Console", Monaco, monospace;
    }
    .container0{
        text-align: center;
        color: antiquewhite;
        background-image: url(hed.jpg);
        background-size: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .container0 h1{
        font-size: 3em;
    }
    .container1{
        position: sticky;
        top: 0;
        margin-right: 0;
        overflow: hidden;
        display:inline-block;
        height: 100vh;
        width: 25%;
        background-image: url(hed2.jpg);
    }
    
    .container2{
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: whitesmoke;
        margin-top: -600px;
        margin-left: 25%;
        width: 75%;
    }
    .naslovna{
        width: 100%;
        height: 100%;
    }
    .container2 h1{
        text-decoration: underline;
    }
    .unutra{padding-left: 30px;
        padding-top: 50px;
        padding-bottom: 50px;
    padding-right: 20px;}
    .naslov1 p, .kontaktiraj{
        border-radius: 10px;
        padding: 32px 32px;
        line-height: 30px;
        box-shadow: rgb(58, 55, 55) 0px 0px 40px;
        background-color: #8d8a8a;
    }
    .naslov1 p span{
        background-color: black;
        color: wheat;
        border-radius: 6px;
        padding: 3px;
    }
    #sajtovi{
        padding-left: 0;
        padding-right: 0;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #kon{
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar {
    height: inherit;
    position: inherit;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 100px;
    font-size: 20px;
    }
    .navbar li {
    margin: 0;
    padding-bottom: 50px;
    list-style: none;
    }
    .navbar a {
    background: rgb(109, 109, 109);
    border-bottom: 1px solid #393939;
    color: #ccc;
    display: block;
    margin: 0;
    padding: 8px 12px;
    text-decoration: none;
    font-weight: normal;
    }
    .navbar a:hover {
    background-image: url(hed.jpg);
    /*background: #21af2d url("hover.gif") left center no-repeat;*/
    color: #fff;
    padding-bottom: 8px;
    }
    div:after{
        content: "";
        display: table;
        clear: both;
    }

    .futer{
        text-align: center;
        margin-left: 25%;
        width: 75%;
        line-height: 50px;
        background-color: rgb(233, 233, 233)
    }
    h3 a{
        background-color: black;
        color: aliceblue;
        padding: 12px 8px;
        text-decoration: none;
    }
    h3 a:hover{
        background-color: rgb(233, 233, 233);
        color: black;
        border: 2pt solid black;
    }
    i{
        font-size: 2em;
    }
    .linkovi a{
        color: black
    }
    .linkovi a:hover{
        opacity: 0.7;
    }
    .list-type1{
        width: 100%;
        border-radius: 10px;
        line-height: 30px;
        box-shadow: rgb(58, 55, 55) 0px 0px 40px;
        background-color: #8d8a8a;
    }
    .list-type1 h2{padding-left: 20px;padding-top: 10px;}
        
    .list-type1 ol{
        width: inherit;
        counter-reset: li;
        list-style: none;
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
        padding: 0;
        margin-bottom: 4em;
    }
    .list-type1 ol ol{
        margin: 0 0 0 2em;
    }
        
    .list-type1 a{
        position: relative;
        display: block;
        padding: .4em .4em .4em 2em;
        *padding: .4em;
        margin: .5em 0;
        background: rgb(72, 73, 72);
        line-height: 1.3em;
        color: rgb(253, 253, 253);
        left: 30px;
        width: 70%;
        height: 50px;
        text-decoration: none;
        -moz-border-radius: .3em;
        -webkit-border-radius: .3em;
        border-radius: 10em;
        transition: all .2s ease-in-out;
    }
        
    .list-type1 a:hover{
        background: #d6d4d4;
        text-decoration:none;
        transform: scale(1.1);
    }
        
    .list-type1 a:before{
        position: absolute;
        left: -1.3em;
        top: 50%;
        margin-top: -1.3em;
        background:#93C775;
        height: 2em;
        width: 2em;
        line-height: 2em;
        border: .3em solid #fff;
        text-align: center;
        font-weight: bold;
        -moz-border-radius: 2em;
        -webkit-border-radius: 2em;
        border-radius: 2em;
        color:#FFF;
    }
    form{
        display: block;
        width: 100%;
        line-height: 1.8;
    }
    .inpu{
        padding: 8px;
        display: block;
        width: 80%;
        border: 1px solid #ccc;
    }
    .dugme{
         color: #fff;
         background-color: #000;
    }
    

    
    @media only screen and (max-width: 768px){
        .container1{
            position: sticky;
            background-image: none;
            z-index: 9999;
            width: 100%;
            height: 3em;
        }
        .navbar{
            position: inherit;
            top:0;
            left: 0;
            box-shadow: 0 8px 6px -6px #333;
            width: 100%;
            padding: 0;
            margin: 0;
            z-index: 10;
        }
        .navi{
            margin: 0;
            padding: 0;
            text-align: center;
            width: 100%;
        }
        .container2{
            margin-left: 0;
            width: 100%;
            margin-top: 0;

        }
        .futer{
            width: 100%;
            margin: 0;
        }
        .navi li {
            float: left;
            text-align: center;
            width: 24%;
            border-right:1px solid #bbb;
            border-radius: 3%;
        }

        .navi li:last-child {
            border-right: none;
        }

        .navi li a {
            width: 100%;
            text-align: center;
            display: block;
            border-radius: 3%;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        .navi a:hover {
        background-image: url(hed.jpg);
        /*background: #21af2d url("hover.gif") left center no-repeat;*/
        color: #fff;
        padding-bottom: inherit;
        }
    }
    @media only screen and (max-width: 520px){
        body{
            font: 0.9em sans-serif;
        }
        .container1{
            padding-bottom: 10px;
            padding-left: 0;
            padding-right: 0;
        }
    
    }
    @media only screen and(max-width: 420px){
        .container1{
            font: 0.7em sans-serif;
        }
        .navbar{
            font: 0.7em sans-serif;
 
        }
    }